.scanDetails{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    margin:15px;
    margin-top: 1.5rem;
}

.scanDetails #result{
    text-align: left;
    padding: 15px;
    box-shadow: 0.75px 0.75px 0.75px 1px #dfdede;
    background-color: #ede8e8;
    max-height: 80vh;
    overflow: auto;
}

.scanDetails #result #scannedEmail{
font-size: 1rem;
white-space: nowrap;
  max-width: 16rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.scanDetails #result h2{
    text-align: center;
    margin: auto;
}

.scanDetails #result div{
    margin: 15px 0;
}

.scanDetails #result label{
    font-size: 1rem;
    font-weight: bold;
}

.scanDetails #result p{
    font-size: 1.08rem;
}

.acceptRejectBtns{
    text-align: center;
}

#header #html5-qrcode-anchor-scan-type-change{
    display: none;
}

#result .qrResultBtns{
    text-align: center;
    margin-top: 15px;
}
/* testing */